#bg-video{
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.box {
  justify-content: center;
  position: fixed;
  flex-direction: row;
}

h1 {
  background-color: Red;
  color: White;
  font-size: 24px;
  border-radius: 20px;
  text-align: center;
}

.sub {
  width: 200px;
  height: 200px;
}

img {
  height: 600px;
}
